<!-- Footer Class -->
<footer class="_s5vm9" role="contentinfo">
	 <div class="_g7lf5 _9z659" style="max-width: 935px;">
<!-- Nav-Footer-Class -->
<nav class="_luodr" role="navigation">
<ul class="_g8wl6">
	<li class="_538w0">
            <%= link_to 'Contact', contact_path, class: "_hqmnd" %>
              </li>
            <li class="_538w0">
            <%= link_to 'About', about_path, class: "_hqmnd" %>
              </li>
              <li class="_538w0">
            <%= link_to 'Privacy', '#', class: "_hqmnd" %>
              </li>
               <li class="_538w0">
            <%= link_to 'Helper', '#', class: "_hqmnd" %>
              </li>

</nav>
</ul>
<span class="._1gmap">&copy; 2018 Lookbye</span>
</footer>
</div>

