	<!-- Container Showing -->
 <div class="ui segment">  
    <h3 class="card-title"><%= @stipe.title.html_safe %></h3>
    <p class="card-text"><%= @stipe.body.html_safe %></p>
  <p><%= @stipe.description.html_safe %></p>
  </div>